*{
    box-sizing: border-box;
}
body{
    margin: 0;

}
div{
    display: flex;
    min-height: 20vh;
    justify-content: space-between;

}
header,footer{
    background-color:gray;
    height: 20vh;
}
span{
    display: flex;
    background-color: pink;


    
}