*{
  box-sizing: border-box;
}
body{
  margin: 0;

}

header,footer{
  background-color:gray;
  height: 20vh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.main__item {
  width: calc((100% - 4px)/3);
  background: rgba(255, 0, 0, .2);
}

.main__item::before {
  content: '';
  display: block;
  padding-top: 100%;
}